body {
  margin: 0;
  padding: 0;
  background: url("./assets/images/bg-gray.png"), lightgray 50% / cover no-repeat;
  font-family: "Inter", sans-serif;
  color:white;
  overflow-x: hidden;
  height:100vh;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

